<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-r from-indigo-400 to-purple-500 min-h-screen text-center">

<!-- NAVBAR -->
<nav class="bg-black p-4">
    <a href="/home" class="text-white mx-4 hover:text-indigo-400">Home</a>
</nav>

<!-- CONTENT -->
<div class="bg-white w-2/3 mx-auto mt-16 p-10 rounded-xl shadow-lg">

    <h1 class="text-4xl font-bold mb-6">About Us </h1>

    <p class="text-lg mb-4">
        Welcome to our website!  
        This is a simple Node.js + Tailwind CSS project.
    </p>

    <p class="text-lg mb-6">
        We are learning web development and building 
        modern websites step-by-step 
    </p>

    <a href="/home" 
       class="bg-indigo-500 text-white px-6 py-3 rounded-lg hover:bg-indigo-700">
       Go Back Home
    </a>

</div>

</body>
</html>
